* {
	/* for debugging the layout: */
	/* border: 1px solid red; */
}

p {
	font-family: Arial;
	font-size: 10pt;
	width: 95%;
}
html, body {
	/* height: 95%;
	width: 99.5%; */
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#content {
	height: 95%;
}
#right {
	padding-left: 10px;
	float: left;
	width: calc(50% - 10px);
	height: 95%;
	text-align: center;
}
#right div {
	/* text-align: left; */
}
#rightinner {
	width: 98%;
}
#left {
	padding-left: 5px;
	float: left;
	width: calc(50% - 5px);
	height: 95%;
}
#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 49%;
}
#replstdin, #replstdout, code, .highlight > pre, div .highlight {
	font-family: monospace;
	font-weight: bold;
	font-size: 9pt;
	overflow: auto;
}
pre {
	font-size: 8pt;
	font-family: monospace;
	font-weight: bold;
	overflow: auto;
}
.highlight {
	text-align: left;
	width: calc(100% - 10px);
	display: inline-block;
}
.examplebar {
	background-color: #ffffff;
	border-bottom: 1px solid black;
	padding-left: 10px;
	padding-bottom: 3px;
	color: #868686;
	font-size: 11pt;
}
code, pre, div .highlight {
	background-color: #fbfbfb;
	margin: 5px;
}
#replbox {
	border-style: solid;
	border-width: 1px;
	position: relative;
}
#replbackground {
	background: #fbfbfb no-repeat url('/static/ortholang-blur20.png') 50% / 98%;
	width:  100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#replstdin, #replstdout, #serverload, #account {
	font-family: monospace;
	white-space: pre;
	position: relative;
	z-index: 10;
}
/* #replstdin, #replstdout {
	font-style: bold;
} */
#replstdin {
	width: 90%;
	background: transparent;
	height: 30;
	position: relative;
	z-index: 10;
}
#replstdout {
	font-size: 10pt;
	text-align: left;
	height: 82%;
	/* height: {{ '55' if user == 'guest' else '60' }}%; */
	overflow-y: scroll;
	margin: 5px;
	position: relative;
	z-index: 10;
}
#replstdout p {
	margin: 0;
}
#serverload, #account {
	/* color: #5d5d60; */
	font-size: 10pt;
	position: relative;
	z-index: 9;
}
#inputbox {
	position: relative;
	padding-bottom: 5px;
	z-index: 10;
}
#serverload {
	color: #CACACA;
	font-size: 10pt;
	font-weight: bold;
	background: transparent;
	float: right;
	margin-top: -80px;
	margin-right: 35px;
}
#title {
	font-style: bold;
	font-size: 16pt;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
}

.tablinks {
	float: left;
	font-size: 12pt;
}

#usercontrols {
	display: flex;
}

#loginbutton, #logoutbutton {
	background-color: #f1f1f1;
	max-width:100%;
	max-height:100%;
	padding: 0px;
	padding-left: 8px;
}

#loginbutton:hover, #logoutbutton:hover {
	background-color: #f1f1f1;
}

#loginbutton, #logoutbutton {
	font-size: 8pt;
}

#usericon {
	max-width:100%;
	max-height:100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	border-top: none;
	height: 100%; /* TODO padding instead? */
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: scroll;
	border: 1px solid #ccc;
}

#skim-the-docs {
	width: 250px;
}

#commentfield {
	width: 100%;
	height: 5%;
	expand: vertical;
	resize: vertical;
	float: left;
}
#controls {
	display: inline-block;
	width: 100%
}
#loadcontrols {
 float: left;
 width: 50%;
 text-align: left;
}
#loadmenu {
  width: 80%;
}
#filename {
  width: 80%;
}
#scriptcontrols {
	float: right;
	width: 45%;
	text-align: left;
}

#devwarning {
	text-align: center
}

#intropitch {
	width: 400px;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	text-align: center
}
#tutorialsearch, #scriptsearch, #modulesearch, #userscriptsearch {
	width: 40%;
}

table {
  width: 100%;
	font-size: 8pt;
}

.runbuttonform {
	float:right;
	padding: 5px;
}

.runblock {
 display: inline-flex;
 width: 90%;
}

.asciinema-player-wrapper {
	text-align: left;
}

.centeredimg {
	padding: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
td pre {
	background-color: #fff;
}
