#content, html, body {
	height: 98%;
}
#left {
	float: left;
	width: 50%;
	height: 95%;
}
#right {
	float: left;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
}
#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
code {
	font-family: monospace;
	font-style: bold;
	font-size: 18;
}
#replstdin, #replstdout, #serverinfo {
	font-family: monospace;
	font-style: bold;
	font-size: 18;
	white-space: pre;
}
#serverinfo {
	font-size: 14;
	color: #5d5d60;
}
#title {
	font-style: bold;
	font-size: 24;
}
