<html>
	<p style="text-align:center;">
		<center>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<img id="logo" src="/static/server.png">
		<br/>
		<br/>
		ShortCut demo server under construction.
		<br/>
		{% if user == 'guest' %}
			<a id="loginlink" href="/user">Click here</a> to try it if you have an account.
		{% else %}
			<a id="loginlink" href={{ url_for('user', _external=True).replace('://', '://guest:guest@') }}>Click here</a> to try it if you have an account.
		{% endif %}
		</center>
	</p>
</html>
