<div id="controls">
	<div id="script">

		<!-- TODO group these by top row being autofills and bottom being server actions -->
		<div id="loadcontrols">
			<button id="loadbutton">Load</button>
			<select id="loadmenu">
				{% for path in list_user_scripts(user) %}
				<option value="{{ path }}">{{ path }}</option>
				{% endfor %}
			</select>
			<br/>
			<br/>
			<button id="uploadbutton">Upload files</button>
			<!-- TODO show progress somehow? -->
			<input id="upload" type="file" accept="" multiple>
		</div>

		<div id="scriptcontrols">
			<!-- save/download -->
			<button id="savebutton">Save</button>
			<input id="filename" type="text" name="scriptname" placeholder="your-script-name.ol">
			<br/>
			<br/>
			<div id="dlcontrols">
			<input id="dlscript" type="submit" value="Download script">
			<input id="dlresult" type="submit" value="Download result">
			</div>
		</div>

	</div>
</div>

