{% import "macros.jinja" as macros with context %}

<div class="tab">
	<button id="homebutton"      class="tablinks" onclick="openTab(event, 'Home')">ShortCut</button>
	<button id="sitebutton"      class="tablinks" onclick="openTab(event, 'Site')">Site</button>
	<button id="tutorialbutton"  class="tablinks" onclick="openTab(event, 'Tutorial')">Tutorial</button>
	<button id="scriptsbutton"  class="tablinks" onclick="openTab(event, 'Scripts')">Scripts</button>
	<button id="functionsbutton" class="tablinks" onclick="openTab(event, 'Functions')">Functions</button>
	<button id="genomesbutton" class="tablinks" onclick="openTab(event, 'Genomes')">Genomes</button>
	<div id="usercontrols" style="float:right; padding-right: 10px;">
		<button id="usertabbutton" class="tablinks" onclick="openTab(event, 'UserTab')">{{ user }}</button>
		<!-- TODO figure out a better method to clear HTTP auth -->

{% if user == 'guest' %}

		<button id="loginbutton">
						<img src="/static/user-icon.png" height="22"></img>
						<br/>
						Sign in
		</button>

{% else %}

		<button id="logoutbutton">
						<img src="/static/user-icon.png" height="22"></img>
						<br/>
						Sign out
		</button>

{% endif %}

	</div>
</div>

<div id="Home"      class="tabcontent">{{ macros.markdown_doc("home.md"     ) }}</div>
<div id="Site"      class="tabcontent">{{ macros.markdown_doc("site.md"     ) }}</div>
<div id="Tutorial"  class="tabcontent">{{ macros.markdown_doc("tutorial.md" ) }}</div>
<div id="Scripts"  class="tabcontent">{{ macros.markdown_doc("scripts.md" ) }}</div>
<div id="Functions" class="tabcontent">{{ macros.markdown_doc("functions.md") }}</div>
<div id="Genomes"   class="tabcontent">{{ macros.markdown_doc("genomes.md"  ) }}</div>
<div id="UserTab"   class="tabcontent">{{ macros.markdown_doc("usertab.md"  ) }}</div>
