<html>
<head>
	<title>ShortCut Demo Server</title>
	<meta charset="utf-8"/>
	<script type="text/javascript" src="{{ url_for('static',filename='jquery-3.3.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='socket.io.dev.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>

<body>

<div id="content" style="height: 100%;">
	<div id="left" style="text-align: center;">
		<div style="width: 95%; display: inline-block;">
			<div> <!-- TODO why another div besides left? -->
				<div id="logodiv" style="diplay: table;">
					<img id="logo" src="/static/server.png" style="width: 125px;">
					"The Zilputer"
					<br/>
					ShortCut Demo Server
				</div>
				<br/>
				<div style="border-style: solid; border-width: 1px;">
					<!-- TODO how to make height auto-expand? -->
					<div id="replstdout" style="text-align: left; width:100%; height: 55%; overflow-y: scroll;"></div>
					<!-- TODO this could be one run/kill button at the end of the entry line that toggles when a script is running -->
					<div>
						<input id="replstdin" type="text" style="width: 90%;" placeholder=">>" autofocus style="float: left;">
						<button id="runstop" style="display: inline; text-align: center;">Run</button>
					</div>
				</div>
				<br/>
				<div style="display: inline-block; width: 100%;">
					<form id="script">

						<!-- TODO group these by top row being autofills and bottom being server actions -->

						<!-- load/upload -->
						<div style="float: left; width: 45%; text-align: left;">
							<button id="loadbutton">Load script</button>
							<select id="loadmenu">
								<option value="userscript1.cut">userscript1.cut</option>
								<option value="johan.cut">johan.cut</option>
								<option value="another.cut">another.cut</option>
							</select>
							<br/>
							<br/>
							<button id="uploadbutton">Upload file</button>
							<input id="upload" type="file" accept="*">
						</div>

						<div style="float: right; width: 45%; text-align: left;">
							<!-- save/download -->
							<button id="savebutton">Save script</button>
							<input id="filename" type="text" name="scriptname" placeholder="your-script-name.cut">
							<br/>
							<br/>
							<input id="dlscript" type="submit" value="Download script">
							<input id="dlresult" type="submit" value="Download result">
						</div>

					</form>
				</div>
				<br/>
				<br/>

				<div>
						<textarea id="commentfield" placeholder="Leave Jeff a question/comment! Paste anything relevant here too, and include your name if you want a response." style="width:100%; height: 5%; expand: vertical; resize: vertical; float: left;"></textarea>
						<button id="commentbutton" style="float: right;">Submit comment</button>
				</div>
			</div>
		</div>
	</div>
	<div id="right">
		<div style="width: 95%;">
{% filter markdown %}

Cut script is a simple(ish) language for finding lists of candidate genes. It
aims to be the next step up after you realize that your problem is too complex
for the NCBI website and a spreadsheet, but maybe not so complex that you want
to fiddle with a "real" language like Bash or Python or R just to do some BLAST
searches.

It also aims to describe the search succinctly and reproducibly, so that some
day it might make it into your supplemental material. Because everyone wins
when your work is easy to build on!

ShortCut is a command-line language interpreter, kind of like `python` or `R`
but for cut scripts. On your left is a hacky "terminal" I made so it can run in
a web browser. You can do most of the same things with it that you could if you
downloaded and installed ShortCut proper, except:

* Your session will be deleted when you leave this page
* The server might kill your script without warning if it takes up too much CPU
* Some nice terminal features like tab completion and clearing the screen are missing

### Quick Start

OK, here are some things you can do with it! They're explained in more detail
below, but let's try running them first. Press one of the `Load` buttons to
fill in the command to load that example. Once it's loaded type `:show` to see
the variable definitions, then `result` to get the result.

_Note: this is mostly about BLAST so far, but multiple sequence alignments +
tree building + clustering are in the works too._

{% endfilter %}
{% with path='examples/quick01.cut' %} {% include "example.html" %} {% endwith %}
{% filter markdown %}

{% endfilter %}
{% with path='examples/quick02.cut' %} {% include "example.html" %} {% endwith %}
{% filter markdown %}

{% endfilter %}
{% with path='examples/quick03.cut' %} {% include "example.html" %} {% endwith %}
{% filter markdown %}

### Tutorial

So what's going on? Let's start at the beginning.
This is probably the simplest script you could write.

{% endfilter %}
{% with path='examples/tutorial01.cut' %} {% include "example.html" %} {% endwith %}
{% filter markdown %}

{% endfilter %}
		</div>
	</div>
</div>
	</body>
</html>
