<head>
				<title>Detourrr Demo Server</title>
				<meta charset="utf-8"/>
				<script type="text/javascript" src="{{ url_for('static',filename='jquery.min.js') }}"></script>
				<script type="text/javascript" src="{{ url_for('static',filename='socket.io.slim.js') }}"></script>
				<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
				<script type="text/javascript" src="{{ url_for('static',filename='asciinema-player.js') }}"></script>
				<!-- also nice looking themes: borland, default, emacs, tango, manni -->
				<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='tables.css') }}">
				<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='pygments-theme.css') }}">
				<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
				<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='asciinema-player.css') }}">
				<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='asciinema-theme-github.css') }}">
</head>
<body>
				<div id="content">
								<div id="left">
												<div id="leftinner">
																<div>
																				{% include "repl.html" %}
																				<br/>
																				{% include "controls.html" %}
																				<br/>
																				<br/>
																				{% include "comment.html" %}
																</div>
												</div>
								</div>
								<div id="right">{% include "docs.html" %}</div>
				</div>
				</div>
</body>
</html>
