<html>
	<head>
		<title>ShortCut Demo Server</title>
		<meta charset="utf-8"/>
		<script type="text/javascript" src="{{ url_for('static',filename='jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='socket.io.slim.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
		<!-- also nice looking: borland, default, emacs, tango -->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='pygments-github.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	</head>
	<body>
		<div id="content" style="height: 100%;">
			<div id="left" style="text-align: center;">
				<div style="width: 95%; display: inline-block;">
					<div> <!-- TODO why another div besides left? -->
						<div id="logodiv" style="display: inline-flex; align-items: center;">
							<img id="logo" src="/static/server.png" style="width: 125px;">
							&nbsp; &nbsp;
							<div style="text-align: left;">
								<br/>
								<br/>
								<div id="title">"The Zilputer"<br/>ShortCut Demo Server</div>
								<pre><div id="serverload">users:<br/>cpu:</br>memory:</div></pre>
							</div>
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							<img id="skim-the-docs" src="/static/skim-the-docs.png">
						</div>
						<br/>
						<br/>
						{% include "repl.html" %}
						<br/>
						<br/>
						{% include "controls.html" %}
						<br/>
						{% include "comment.html" %}
					</div>
				</div>
			</div>
			<div id="right">{% include "docs.html" %}</div>
		</div>
		</div>
	</body>
</html>
