{%- macro asciicast(name) -%}
  {%- with path=name -%}
    {%- include "asciicast.html" -%}
  {%- endwith -%}
{%- endmacro -%}

{% macro run_example(lines2) %}
  {%- with lines=lines2 -%}
    {%- include "runexample.html" -%}
  {%- endwith -%}
{% endmacro %}

{%- macro markdown_doc(basename) -%}
  {%- filter markdown -%}
    {%- include basename -%}
  {%- endfilter -%}
{%- endmacro -%}

{%- macro load_script(user, path) -%}
  {%- filter markdown -%}
    {%- with path=user + '/' + path -%}
      {%- include "loadexample.html" -%}
    {%- endwith -%}
  {%- endfilter -%}
{%- endmacro -%}


